<h1>Listing gear_pages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Brand</th>
      <th>Artist</th>
      <th>Genre</th>
      <th>Ancestry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gear_pages.each do |gear_page| %>
      <tr>
        <td><%= gear_page.name %></td>
        <td><%= gear_page.description %></td>
        <td><%= gear_page.brand %></td>
        <td><%= gear_page.artist %></td>
        <td><%= gear_page.genre %></td>
        <td><%= gear_page.ancestry %></td>
        <td><%= link_to 'Show', gear_page %></td>
        <td><%= link_to 'Edit', edit_gear_page_path(gear_page) %></td>
        <td><%= link_to 'Destroy', gear_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gear page', new_gear_page_path %>
