<div class="container">
  <div class="row">

    <p id="notice"><%= notice %></p>


    <div class="col-md-8 column">
      
      <div class="page-header">
        <%= @gear_page.name %>
      </div>

      <p>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @gear_page.description %>
      </p>

      <p>
        <strong>Brand:</strong>
        <%= @gear_page.brand %>
      </p>

      <p>
        <strong>Related Artist:</strong>
        <%= @gear_page.artist %>
      </p>

      <p>
        <strong>Genre:</strong>
        <%= @gear_page.genre %>
      </p>

    </div>
  </div>
</div>


<%= link_to 'Edit', edit_gear_page_path(@gear_page) %> |
<%= link_to 'Back', gear_pages_path %>
 </div>
